<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>éLémanTerre</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="images/favicon.png">
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="images/logo.png" alt="Logo éLémanTerre" class="img-logo"></a>
        </div>

        <nav class="site-nav">
            <ul class="group">
                <li><a href="/">Accueil</a></li>
                <li><a href="society">La société</a></li>
                <li><a href="repair_coffee">Repair Cafés</a></li>
                <!-- <li><a href="support">Nous soutenir</a></li> -->
            </ul>
        </nav>
    </header>

    <div class="main-container">
        <section class="main-section">
            <h1>Bienvenue sur le site éLémanTerre</h1>
            <p>L'association éLémanTerre fondée en 2022 poursuit les objectifs suivants: </p>
            <ul class="goals">
                <li>Promotion du développement durable dans l'arc lémanique à travers divers événements profitant à la
                    population locale (Repair Cafés, conférences, débats, ateliers, etc.)</li>
                <li>Mettre en avant des concepts centraux du développement durable à travers le partage d'information,
                    la mise à disposition de services et outils pour apprendre à les intégrer dans la vie quotidienne.
                    Des thèmes tels que la consommation écologique, un style de vie respectueux de l'environnement et la
                    biodiversité, la lutte contre l'obsolescence programmée et la surconsommation seront abordés.</li>
            </ul>
        </section>
        <aside class="home-aside">
            <h1>Prochains événements</h1>
            <h2>Repair Café Chardonne - 07 octobre 2023</h2>
            <p>Plus d'infos <a href="/repair_coffee">ici</a></p>

            <!-- <h2>Repair Café Puidoux - 15 octobre 2022</h2>
            <p>Plus d'infos <a href="/repair_coffee#puidoux_id">ici</a></p> -->
        </aside>
    </div>

</body>

</html>