<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>éLémanTerre</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="images/favicon.png">
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="images/logo.png" alt="Logo éLémanTerre" class="img-logo"></a>
        </div>

        <nav class="site-nav">
            <ul class="group">
                <li><a href="/">Accueil</a></li>
                <li><a href="society">La société</a></li>
                <li><a href="repair_coffee">Repair Cafés</a></li>
                <!-- <li><a href="support">Nous soutenir</a></li> -->
            </ul>
        </nav>
    </header>

    <div class="main-container">
        <section class="main-section">
            <h1>Prochains Repair Cafés</h1>
            <h2>Samedi 21 mai 2022 à Chexbres</h2>
            <p><span class="important">Où:</span> Bâtiment du Coeur d'Or (salle Esplanade)</p>
            <p><span class="important">Quand:</span> 9h - 16h</p>
            <p>Pour inscrire un objet à réparer, veuillez utiliser le formulaire suivant (attention: un seul objet par
                adresse email). Un email de confirmation vous sera envoyé 1-2 jours après votre inscription.</p>

            <!-- <form action="/rc-object-registration" method="POST" class="rc-registration-form">
                <h2>Formulaire d'objet à réparer</h2>
                <div class="rc-form-entity">
                    <input type="text" id="names" name="names" placeholder="Nom Prénom">
                </div>
                <div class="rc-form-entity">
                    <input type="text" id="email" name="email" placeholder="Adresse email">
                </div>
                <div class="rc-form-entity">
                    <select name="type" id="type" placeholder="Type de réparation">
                        <option value="electronic">Electronique</option>
                        <option value="household">Electro-ménager</option>
                        <option value="it">Informatique</option>
                        <option value="sewing">Couture</option>
                    </select>
                </div>
                <div class="rc-form-entity">
                    <input type="text" id="time" name="time" placeholder="Heure souhaitée">
                </div>
                <div class="rc-form-entity">
                    <input type="text" id="failure" name="failure" placeholder="Description de la panne">
                </div>
                <button class="send-object-btn" id="send_object_btn" type="submit">
                    Envoyer l'objet
                </button>
            </form>
            -->

            <div class="rc-registration-form">
                <h2>Inscription d'un objet à réparer</h2>
                <p class="rc-desc">Pour inscrire un objet à réparer, veuillez envoyer un email à: <br> <br>
                    <span class="important">info@rc.ch</span> <br> <br>
                    Merci d'indiquer les informations suivantes:
                </p>
                <ul>
                    <li>Nom, Prénom</li>
                    <li>Objet</li>
                    <li>Description de la panne</li>
                    <li>Heure souhaitée pour la réparation</li>
                </ul>
                <p class="rc-desc">Une confirmation pour la réparation de votre objet vous sera envoyée dans les 24h.
                </p>
            </div>


            <h2>Samedi 15 octobre 2022 à Puidoux</h2>
            <p><span class="important">Où:</span> Le Foyer de la Salle Forestay</p>
            <p><span class="important">Quand:</span> 9h - 16h</p>
            <p>Il n'est pas encore possible d'inscrire des objets à réparer.</p>
        </section>
        <!-- <aside class="home-aside">
            <h1>Repair Cafés éLémanTerre</h1>
            <h2>Qu'est ce qu'un Repair Café?</h2>
            <p>Bla bla Repair Café</p>

            <h2>Fédération Romande des Consommateurs</h2>
            <p>Bla bla romand</p>
        </aside> -->
    </div>
</body>

</html>