<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>éLémanTerre</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="images/favicon.png">
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="images/logo.png" alt="Logo éLémanTerre" class="img-logo"></a>
        </div>

        <nav class="site-nav">
            <ul class="group">
                <li><a href="/">Accueil</a></li>
                <li><a href="society">La société</a></li>
                <li><a href="repair_coffee">Repair Cafés</a></li>
                <!-- <li><a href="support">Nous soutenir</a></li> -->
            </ul>
        </nav>
    </header>

    <div class="main-container">
        <section class="main-section">
            <h1>La société</h1>
            <h2>Histoire</h2>
            <p>La société éLémanTerre est née de multiples discussions sur un mode de vie durable. Une prise de
                conscience quant aux enjeux environnementaux des années à venir nous a incitée à fonder une association
                à but non-lucratif afin de partager et promouvoir des valeurs liées aux développement durable dans l'arc
                lémanique. <br><br>
                L'association à été créée lors de sa première assemblée générale le 23.03.2022.
            </p>

            <h2>Actions</h2>
            <p>Les premières actions de l'association seront centrées sur des événements tels que Repair Cafés, Cafés
                numériques, conférences et ateliers sur le développement durable.</p>


        </section>
        <!-- <aside class="home-aside">
            <h1>Repair Cafés éLémanTerre</h1>
            <h2>Qu'est ce qu'un Repair Café?</h2>
            <p>Bla bla Repair Café</p>

            <h2>Fédération Romande des Consommateurs</h2>
            <p>Bla bla romand</p>
        </aside> -->
    </div>
</body>

</html>